.label-input{
    --ion-font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color : #9CA5B4;
}

.label-hint{
    --ion-font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color : #5E656F;
}

.ion-input-selected{
    border:solid 1px  #03A87C; 
    height:50px;
    --padding-start : 10px;
}

.ion-input-warning{
    border:solid 1px  #ba3232; 
    height:50px;
    --padding-start : 10px;
}

.ion-input-normal{
    border:1px solid #5E656F; 
    height:50px;
    --padding-start : 10px;
}

.label-warning{
    color:#ba3232;
}