<app-header [header]="HEADER"></app-header>

<ion-content>
  <div style="padding : 25px;">
    <p class="label-input"><span class="label">Current Password<span class="label-warning"> * <span>{{error_current_password}}</span></span></span></p>
    <ion-input [class]="bar_current_password" [value]="inputs.current_password" [(ngModel)]="inputs.password" (touchstart)="onFocusInput('CURRENT_PASSWORD')" (focus)="onFocusInput('CURRENT_PASSWORD')"></ion-input>

    <br>

    <p class="label-input"><span class="label">New Password<span class="label-warning"> * <span>{{error_new_password}}</span></span></span></p>
    <ion-input [class]="bar_new_password" [value]="inputs.new_password" [(ngModel)]="inputs.new_password" (touchstart)="onFocusInput('NEW_PASSWORD')" (focus)="onFocusInput('NEW_PASSWORD')"></ion-input>
    <span class="label-hint label-hint-new-password">Use 8 or more characters with a mix of letters, numbers, and symbols.</span>

    <br><br>

    <ion-button class="button-login" expand="full" (click)="changePassword();">Login</ion-button>
  </div>
</ion-content>
