<div class="image-container">
  <img src="assets/images/johor-logo.png" />
  <span class="logo-title">Identity Verification</span>
</div>

<div class="image-step">
  <img src="assets/images/identity-verification-steps/step_1.png" />
</div>

<div class="body-container">
  <ion-button shape="round" color="primary" class="online-verification-btn">Online Verification</ion-button>
  <span class="text-below">Facial Recognitiion is a process which requires your original identification document and a video recording</span>
</div>

<div class="kinda-footer">
  <p><< Go Back to Proof Eligibility</p>
</div>