<div class="image-container">
    <span class="logo-title">Verify Your<br>Identity</span>
    <img src="assets/images/johor-logo.png" />
</div>

<div class="text-details">
  <p>complete the following steps to prove your identity</p>
</div>

<div class="body-container">
  <div class="sub-container">
    <img src="assets/icon/badges/red_badge.png">
    <div class="parent-p">
      <span class="large-p">User Details</span>
      <span class="small-p">Change?</span>
    </div>
  </div>

  <div class="large-dot"></div>
  <div class="large-dot"></div>
  <div class="large-dot"></div>
  <div class="large-dot"></div>

  <div class="sub-container">
    <img src="assets/icon/badges/yellow_badge.png">
    <div class="parent-p">
      <span class="large-p">Proof Of Eligibility</span>
      <span class="small-p">Upload?</span>
    </div>
  </div>
  
  <div class="large-dot"></div>
  <div class="large-dot"></div>
  <div class="large-dot"></div>
  <div class="large-dot"></div>

  <div class="sub-container">
    <img src="assets/icon/badges/green_badge.png">
    <div class="parent-p">
      <span class="large-p">Identity Validation</span>
      <span class="small-p">Upload?</span>
    </div>
  </div>
</div>