.hint-error{
    color: #FF7A59;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight : normal;
    font-size: 13px;
}

.hint-normal{
    color : #5E656F;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight : normal;
    font-size: 13px;
}