<app-header [header]="HEADER"></app-header>

<ion-content>
  <div style="padding:25px;">
    <p class="label-input"><span class="label">Full Name</span><span class="warning"></span></p>
    <ion-input style="border:solid 1px  #03A87C; height:50px;"></ion-input>
    <span class="label-hint label-hint-fullname"></span>
    <br>
    <p class="label-input"><span class="label">Email</span><span class="warning"></span></p>
    <ion-input style="border:1px solid #5E656F; height:50px;"></ion-input>
    <span class="label-hint label-hint-email"></span>
    <br>
    <p class="label-input"><span class="label">Password</span><span class="warning"></span></p>
    <ion-input type="password" style="border:1px solid #5E656F; height:50px;"></ion-input>
    <span class="label-hint label-hint-password">Use 8 or more characters with a mix of letters, numbers, and symbols.</span>
  </div>
</ion-content>