<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom" style="padding :10px;">
    <ion-tab-button tab="my_account">
      <img src="assets/icon/dashboard-icon-tabs/my_account.png" style="height:30px;width:30px;" />
      <ion-label class="tabs-text">My Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <img src="assets/icon/dashboard-icon-tabs/home.png" style="height:30px;width:30px;" />
      <ion-label class="tabs-text">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my_e_id">
      <img src="assets/icon/dashboard-icon-tabs/my_e_id.png" style="height:30px;width:30px;" />
      <ion-label class="tabs-text">My E ID</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>