<ion-content>

  <div class="image-container">
      <img src="assets/images/johor-logo.png" />
      <span class="logo-title">Welcome<br>Fitri</span>
  </div>
  
  <div class="body-container">
    <ion-grid>
      <ion-row>
        <ion-col class="center">
          <a class="icon-box">
            <img src="assets/icon/dashboard-icon-grids/my_wallet.png" style="width : 58px;height : 58px;" />
          </a>
          <ion-text>My Wallet</ion-text>
        </ion-col>
        <ion-col class="center">
          <a class="icon-box" [routerLink]="['/dashboard/home/id-request']">
            <img src="assets/icon/dashboard-icon-grids/e_id_request.png" style="width : 68px;height : 68px;" />
          </a>
          <ion-text>E-ID Request</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="center">
          <a class="icon-box">
            <img src="assets/icon/dashboard-icon-grids/coupon.png" style="width : 68px;height : 68px;" />
          </a>
          <ion-text>Coupons</ion-text>
        </ion-col>
       <ion-col class="center">
        <a class="icon-box">
          <img src="assets/icon/dashboard-icon-grids/park_easy.png" style="width : 58px;height : 58px;" />
        </a>
        <ion-text>ParkEasy</ion-text>
       </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="parent-news">
    <div class="child-news">

      <div class="header">
        <span class="header-span-one">Latest Johor News</span>
        <span class="header-span-two">15-12-2020 07:00PM</span>
      </div>
  
      <div style="height: 6px; background : white;width:100%;opacity: 0.1;"></div>
  
      <div class="body-news">
        <img src="assets/images/news-sample.png" style="width:91px; height : 60px; padding : 5px;" />
        <p style="font-size: 14px;word-wrap: break-word; color:white;">Johor govt to distribute 1,000 food baskets to Malaysian workers stranded in Singapore</p>
      </div>
  
    </div>
  </div>
</ion-content>