.success-green{
    background: white url('/src/assets/images/tick-green.png') no-repeat;
}

.success-blue{
    background: white url('/src/assets/images/tick-blue.png');
}

.loading-green{
    background: white url('/src/assets/images/loading-green.png') no-repeat;
}

.loading-blue{
    background: white url('/src/assets/images/loading-blue.png') no-repeat;
}